@import 'styles/variables.scss';

.cartList {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .itemsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .checkout {
    padding: 15px 20px;
    background-color: $primary-orange;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: $primary-pale;
    border-radius: 12px;
    transition: all 0.4s;

    &:hover {
      transition: all 0.4s;
      box-shadow: 0px 0px 10px $primary-orange;
      cursor: pointer;
    }
  }
}
