$primary-orange: hsl(26, 100%, 55%);
$primary-pale: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$gray-blue: hsl(219, 9%, 45%);
$light-gray: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
